PRISM/Web References/HC_Provider/contentprovider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://publishing.hyperobjects.fr/webservices/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://publishing.hyperobjects.fr/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="GetProductCategoSoapIn">
    <wsdl:part name="productId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProductCategoSoapOut">
    <wsdl:part name="GetProductCategoResult" type="s:base64Binary" />
  </wsdl:message>
  <wsdl:message name="GetProductContentSoapIn">
    <wsdl:part name="productId" type="s:string" />
    <wsdl:part name="cultureCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProductContentSoapOut">
    <wsdl:part name="GetProductContentResult" type="s:base64Binary" />
  </wsdl:message>
  <wsdl:portType name="ContentProviderSoap">
    <wsdl:operation name="GetProductCatego">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieve the categorization for a product</documentation>
      <wsdl:input message="tns:GetProductCategoSoapIn" />
      <wsdl:output message="tns:GetProductCategoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductContent">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieve the content for a product in HOCML format</documentation>
      <wsdl:input message="tns:GetProductContentSoapIn" />
      <wsdl:output message="tns:GetProductContentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContentProviderSoap" type="tns:ContentProviderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetProductCatego">
      <soap:operation soapAction="http://publishing.hyperobjects.fr/webservices/GetProductCatego" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://publishing.hyperobjects.fr/webservices/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://publishing.hyperobjects.fr/webservices/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductContent">
      <soap:operation soapAction="http://publishing.hyperobjects.fr/webservices/GetProductContent" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://publishing.hyperobjects.fr/webservices/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://publishing.hyperobjects.fr/webservices/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentProvider">
    <wsdl:port name="ContentProviderSoap" binding="tns:ContentProviderSoap">
      <soap:address location="http://83.145.97.146/hc_provider/contentprovider.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>